#map {
      height: 60%;
      width: 1040px;
      
}
      /* Optional: Makes the sample page fill the window. */
      html {
        padding: 20px, 100px, 100px 100px
        background-color: #F1F0FF;
      }

      h2{
        position: center;
      }

    hr {
    height: 2px;
    background-color: #B7AFA3;
    width: 1030px;
    }

    body {
    background-color: #F1F0FF;
    width: 800px;
    height: 1050px;
    margin-left: 180px;
    padding: 0px, 20px, 20px, 20px;
    color: #443266;
    font-size: 1.2em;
    }

#results {
	width: 1040px;
	height: 400px;
}

button {
 border: none;
 background: #208FA1;
 color: #f2f2f2;
 padding: 2px;
 padding-left: 5px;
 padding-right: 5px;
 font-size: 15px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 transition: all 500ms ease;
}

button:hover {
 background: rgba(0,0,0,0);
 color: #208FA1;
 box-shadow: inset 0 0 0 2px #208FA1;
}


#add {
  overflow: hidden;
}

label {
    float: right;
    width: 50px;
    padding-right: 24px;
    grid-column: 1 / 2;
}
 
#a, #b, #c, #d, #g {
    float: left;
    width: 300px;
    width: calc(100% - 600px);
    grid-column: 2 / 3;
}
 



